* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-color: aliceblue; */
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    height: 100px;
    font-size: 42px;
    font-weight: 600;
    text-decoration: underline;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;


}

.option-container {
    height: 50px;
    /* align-self: stretch; */
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-top-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#slider-value {
    color: rgb(248, 248, 248);
}

.etch-a-sketch {
    height: 480px;
    width: 480px;
    background-color: beige; /* placeholder*/
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
}

.sketch-field {
    margin: 0;
    background-color: white;
    /* flex-wrap: wrap; */
    flex-shrink: 0;
}

.footer {
    margin-top: auto;
    height: 40px;
    align-self: stretch;
    /* background-color: lightgray; */
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}