* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    /* background-color: aliceblue; */
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    height: 100px;
    font-size: 42px;
    font-weight: 600;
    text-decoration: underline;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;


}

.option-container {
    height: 50px;
    width: 200px;
    /* align-self: stretch; */
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-color: black;
    border-style: solid;
    border-top-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-bottom: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#slider-value {
    color: white;
}

.etch-a-sketch {
    height: 480px;
    width: 480px;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
}

.sketch-field {
    margin: 0;
    background-color: white;
    /* flex-wrap: wrap; */
    flex-shrink: 0;
}

.button-container {
    height: 50px;
    width: 200px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
    background-color: darkgray;

    border-color: black;
    border-style: solid;
    border-bottom-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

button {
    width: 70px;
    /* font-size: 18px; */
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    background-color: white;
}

.color-toggle {
    
}

.footer {
    margin-top: auto;
    height: 40px;
    align-self: stretch;
    /* background-color: lightgray; */
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}